#logo {
  max-width: 300px;
}

#back {
  text-align: right;
}

/********************************/

body {
  margin-bottom: 15px;
}

main {
  text-align: justify;
}

h1.title {
  font-size: 35px;
}

h2 {
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
}

blockquote {
  font-size: 1em;
}

p {
  margin: 8px 0;
}

/********************************/
/***** general *****/

.title {
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
  width: 100%;
  max-width: 910px;
  position: fixed;
  top: 0;
  background-color: #FFF;
}

#TOC a {
  color: #000;
}

.main-container {
  margin-top: 60px;
}

.container {}

/********************************/
/***** content box *****/

.blue {
  background-color:#e6f0ff;
  padding: 20px;
}

.note {}
.problem {}
.theorem {}
